.header__circle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #1fcfcb;
  box-shadow: 0px 0px 8px #1fcfcb;
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
  color: #252b2b;
  text-align: center;
  padding-top: 5px;
  z-index: 2;
  animation: box-shadow 1s ease;
}

@media (max-width:1100px) {
  .header__circle {
    position: absolute;
    width: 64px;
    height: 64px;
    box-shadow: 0 0 20px #1fcfcb;
    font-size: 25px;
    padding-top: 24px;
    bottom: -19px;
    left: 80px
  }
}