.header__mobile-container {
  display: none
}

@media (max-width:1100px) {
  .header__mobile-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 50px 0;
    z-index: 4
  }
}